/**
 * Plugin Name: Multi Google Maps
 * Plugin URI : http://wordpress.org/extend/plugins/multi-google-maps/
 * Description: This plugin supports to insert Multi Google Map V.3 Objects into your post.
 * Version    : 0.4.3
 * Author     : Siripol Noikajana
 * Author URI : http://wordpress.org/extend/plugins/multi-google-maps/
 * License    : GPL2
 */

.feature-filter {
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	padding: 8px 12px 0;
}
